body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  /* background: url('background(2).jpg') no-repeat center center fixed; */
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(236, 224, 224, 0.4); /* Optional dark overlay */
}
